

.classpath .project .settings .metadata bower_components target *.txt *.class *.jar *.war *.ear *.com *.dll *.exe *.zip *.o *.so .DS_Store .Trashes Thumbs.db desktop.ini *~ *.bak .vagrant resources projects database

